* {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica, sans-serif;
}
.nav {
  height: 8vh;
  background-color: black;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 3%;
}
nav a {
  text-decoration: none;
  color: white;
}
.main {
  display: flex;
  align-content: center;
  overflow-y: scroll;
  height: 80vh;
  margin-bottom: 10px;
}

.footer {
  height: 12vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.footer-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
